

.navbar {
  background: #916BBF;
  padding: 0.5rem 0 0;
  margin: 0 0 2rem;
}

.navbar:hover {
  background: #C996CC;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

/* cards */
body {
  background-color: #100e17;
  font-family: 'Open Sans', sans-serif;
}

.dbms{
left: 25%;
  position: absolute;
  top:15%;
font-family: 'Lobster Two', cursive;
font-size: 3rem;
color:white;

}
.container {
  position: absolute;
  height: 340px;
  width: 994px;
  top: 182px;
  left: calc(50% - 452px);
  display: flex;
}

.card {
  display: flex;
  height: 320px;
  width: 400px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
  margin-bottom:10%;
}

.emptybar {
  background-color: #2e3033;
  width: 80%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 220px;
  transition: 0.4s ease-out;
}

.btn{
  padding: 3% 17%;
  background-color:#8A39E1;
  position: absolute;
  top: 150px;
  left: calc(50% - 70px);
}
.btnn {
    padding: 5% 29%;
    background-color: #8A39E1;
    top: 116px;
    left: 45px;
    width:110%;
}
#footer{
  position: absolute;
  background-color: #FFC0D3;
  text-align: center;
  bottom: 0%;
width: -webkit-fill-available;
font-family: 'Lobster Two', cursive;
}
.footer-icon {
  margin: 20px 30px;
}
